
body {
  background-color: rgb(250, 250, 250);
  font-family: calibri;
}

#results {
  text-align: left;
  margin: 10px 10%;
}

.result {
  max-height: 100px;
  overflow: hidden;
}

.showResult {
  max-height: none;
}

.centered {
  text-align: center;
}

.text {
  margin: 5%;
  text-align: left;
}

h2 {
  font-size: 20px;
  margin-left: 32px;
  color: blue;
}

h2:hover {
  text-decoration: underline;
}

h3 {
  font-size: 20px;
  margin-left: 32px;
  color: blue;
}

h3:hover {
  text-decoration: underline;
}

#impressum {
  text-align: right;
  margin-top: 20px;
  margin-right: 5%;
  color: blue;
  text-decoration: none;
}

h1 {
  padding-top: 5px;
  padding-bottom: 5px;
  background: lightgrey;
}
